* {
  margin: 0px;
  padding: 0px;
}

hr {
  display: inline-block;
  width: 50px;
  margin: 0 10px;
  vertical-align: middle;
}

.context {
  position: absolute;
}

.area {
  background: #e5e5e5;
  background: -webkit-linear-gradient(to left, #ffffff, #e5e5e5);
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.circles {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(65, 66, 61, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(even) {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: #34363A;
  background-image: linear-gradient(45deg, #e5e5e5 0%, #34363A 100%);
  box-shadow: -10vmin 10vmin 0 rgba(255, 255, 255, 0.07);
}

.circles li:nth-child(odd) {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-110vh) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .remove {
    display: none;
  }
}
